<!DOCTYPE HTML>
<html> 
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="theme-color" content="#006ac3">

   		<title>Welcome</title>
		<link rel="manifest" href="manifest.json">
   		<link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
   		<link rel="stylesheet" type="text/css" href="css/ownplugins.css" media="screen" />
		<link rel="apple-touch-icon" href="/app-192-192.png">
		<script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
		<script type="text/javascript" src="js/functions.js"></script>
		<script type="text/javascript" src="js/ownPlugins.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript" src="js/welcome.js"></script>
		<script type="text/javascript" src="js/sw.js"></script>
		<script id=lastAccessTime><%= time %></script>

	</head>
	<body>

		<section id="welcomeScreen" class="mainContainer">
			<header>
				<h1>Welcome <%= user %>!</h1>
				<p>The last time you accessed was</p>
			</header>
			<section id="counterSection">
				<div id="daysCounter" class="counterBlock">
					<span class="counterNumber">00</span>
					<label>days</label>
				</div>
				<div id="hoursCounter" class="counterBlock">
					<span class="counterNumber">00</span>
					<label>hours</label>
				</div>
				<div id="minutesCounter" class="counterBlock">
					<span class="counterNumber">00</span>
					<label>minutes</label>
				</div>
				<div id="secondsCounter" class="counterBlock">
					<span class="counterNumber">00</span>
					<label>seconds</label>
				</div>
			</section>
			<footer class="formBlock">
				<form name="logoutForm" id="logoutForm" method="GET" action="/logout" >
					<button id="logout" class="appButton">Logout<span class="icon-logout"></span></button>
				</form>
			</footer>
		</section>
			
	</body>
</html>