.appInput {
    border: 0;
    padding: 4px 0; 
    border-bottom: 1px solid #ccc; 
    background-color: transparent !important;
}

.appInput:focus {
    outline: none;
}

.appInput ~ .focus-border {
    content: '';
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 0; 
    height: 2px; 
    background-color: #3399FF; 
    transition: 0.4s;
}

.appInput:focus ~ .focus-border,
.has-content.appInput ~ .focus-border{
    width: 100%; 
    transition: 0.4s;
}

.appInput ~ label{
    position: absolute; 
    left: 0; 
    width: 100%; 
    top: 9px; 
    color: #aaa; 
    transition: 0.3s; 
    z-index: -1; 
    letter-spacing: 0.5px;
    pointer-events: none;
}

.appInput:focus ~ label, 
.has-content.appInput ~ label{
    top: -16px; 
    font-size: 12px; 
    color: #3399FF; 
    transition: 0.3s;
}